/*
 * @Date: ,: 2020-10-21 15:24:05
 * @LastEditors: sam
 * @LastEditTime: 2020-10-26 16:44:27
 * @FilePath: /mobile-ui-practice/src/icon.css
 */
 /* 字体图标, font-awesome */
 @import 'https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/all.min.css';

 /* 在引入位置可修改默认样式 */
 .fa {
     text-align: center;
 }
 /*
 .fa-info {
    background: #666;
    color: #fff;
    border-radius: 50%;
 }
 .fa-check{
     display: block;
     margin: 0 auto;
     width: .8rem;
     height: .8rem;
     line-height: .8rem;
     font-size: .8rem;
     border-radius: 50%;
     background: #fff;
 } */