/*
 * @Date: 2020-12-04 16:20:08
 * @LastEditors: sam
 * @LastEditTime: 2020-12-07 12:07:25
 * @FilePath: /mobile-ui-practice/src/list.css
 */
 /* 我的 */
 .tt-list-container{
    position: relative;
    background: #fff;
    /* border-bottom: 1px solid #ccc; */
 }
 .tt-list-item{
     padding-left: 1.4rem;
     padding-right: .4rem;
     padding-top:.4rem;
     padding-bottom: .4rem;
     font-size: .8rem;
     /* height: 1.6rem; */
     /* line-height: 1.6rem; */
     color:#333;
     border-bottom: 1px solid #eee;
}
.tt-list-item:last-child{
    border-bottom: none;
}

.vertical-list{
    display: flex;
}

.vertical-list .vertical-item{
        flex-direction: column;
}


/* 作者的 */
.tt-list >.tt-list-item{
    display: flex;
    position: relative;
    padding:.5rem 1rem;
    font-size: .8rem;
    background: #fff;
    /* height: 1.6rem; */
    /* line-height: 1.6rem; */
    color:#333;
    /* 这个会造成panel-body的bottom边框和item的bottom边框重叠，所以可以设置item最后一个的bottom的border为none */
    border-bottom: 1px solid #eee;
}

/* 降价 */
.tt-list-item > .tt-list-cut{
    position: absolute;
    font-size: .4rem;
    width: 1.2rem;
    height: .6rem;
    text-align: center;
    line-height: .6rem;
    background:orangered;
    border-radius: .1rem;
    color:#fff;
    top:0;
    right: 0;
}
.tt-list-item > .tt-list-img{
    position: relative;
    overflow: hidden;
    flex:0;
    flex-basis: 5rem;
    height: 5rem;
}
.tt-list-item > .tt-list-img > .img-item{
    width: 100%;
    height: 100%;
}
.tt-list-item > .tt-list-content{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .6rem;
    flex:1;
}
.tt-list-item > .tt-list-content >.tt-list-title{
    /* height设置为line-height的两倍,防止带-webkit前缀失效后，效果失效*/
    height: 2rem;
    line-height: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 处理英文不换行 */
    word-wrap: break-word;
    word-break: break-all;
    /* 单行省略 */
    /* max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */


}

.tt-list-item > .tt-list-content > .tt-list-price{
    font-size: .8rem;
    color:orange;
}

.tt-list-item > .tt-list-content >.tt-item-content{
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    font-size: .6rem;
    color:#ccc;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: wrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
}
