/*
 * @Date: ,: 2020-10-22 17:12:53
 * @LastEditors: sam
 * @LastEditTime: 2020-10-23 15:30:58
 * @FilePath: /mobile-ui-practice/src/navBar.css
 */
.tt-navbar{
    position: fixed;
    box-sizing: border-box;
    bottom:0;
    width: 100%;
    max-width: 640px;
    height: 2.5rem;
    border-top: 1px solid #ddd;
    z-index:200;
}

/* 绝对定位实现 */
/* .tt-pos-navbar{
    position: absolute;
    box-sizing: border-box;
    bottom:0;
    width: 100%;
    max-width: 640px;
    height: 2.5rem;
    border-top: 1px solid #ddd;
    z-index:200;
}*/
/* 控制导航栏的子元素位置 */
/* .tt-pos-navbar * {
    position: absolute;
}  */